/* --------------------------------------
                General
----------------------------------------*/
:root {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primary-color: #b65b05;
  --hover-color: #f36100;
}

@font-face {
  font-family: "Open Sans";
  src: url(/assets/font/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
  background-color: #fff4d0;
  font-family: "Open Sans";
  display: grid;
  margin: 0;
  border: 0;
}

h2 {
  font-size: 2.3rem;
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 10px;
  text-align: center;
  margin-top: 20px;
}

p {
  padding: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
}

/* --------------------------------------
                Header
----------------------------------------*/

#header {
  background-color: #b79368;
  display: inline-block;
}

#header h1 {
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: clamp(2rem, 2.4vw, 3rem);
  white-space: nowrap;
}

#header nav {
  display: flex;
}

#header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 60px;
  margin-bottom: 0px;
  margin-top: 2px;
  margin-inline: auto;
  justify-items: center;
}

#header nav ul li a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#header nav ul li a:hover {
  background-color: var(--hover-color);
}

#header nav ul li a img{
  filter:invert(100%);
  margin-right: 10px;
}

/* --------------------------------------
                Hero Section
----------------------------------------*/
#home {
  display: inline-block;
  background-image: url(/assets/imgs/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 85vh;
}

#home .intro h1 {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: clamp(2.4rem, 1vw, 3rem);
  white-space: nowrap;
  background-color: var(--primary-color);
  margin-top: 200px;
  padding: 5px 18px;
  border-radius: 100px;
}

#home .intro h3 {
  background-color: var(--primary-color);
  display: inline-block;
  text-align: left;
  position: relative;
  margin-top: 20px;
  border-radius: 50px;
  padding: 9px 2px;
  position: relative;
  color: #fff;
  font-size: clamp(1rem, 1.5vw, 2rem);
  white-space: nowrap;
}

/* --------------------------------------
        Menu Section
----------------------------------------*/
.menu-item {
  margin: 20px 0;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px;
  text-align: center;
  transition: transform 0.3s ease;
}

.product-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.product-card p {
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  color: #333;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buy-now-btn {
  background-color: var(--primary-color);
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.buy-now-btn:hover {
  background-color: var(--hover-color);
  transform: translateY(-5px);
}

/* --------------------------------------
                Contact Section
----------------------------------------*/
#contact {
  text-align: center;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

#contact form input,
#contact form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 25px;
  font-size: 1rem;
  color: #333;
  background-color: #f9f9f9;
}

#contact form button {
  padding: 12px 25px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border-radius: 50px;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
}

#contact form button:hover {
  background-color: var(--hover-color);
}

/* --------------------------------------
               Footer
----------------------------------------*/
#footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 10px;
}

#footer .footer-nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#footer .footer-nav ul li {
  list-style: none;
}

#footer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}

#footer .social-media {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 25px;
  padding: 0;
}

#footer .social-media li {
  list-style: none;
}

#footer .social-media li a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

#footer .social-media a img {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

#footer p {
  font-size: 1rem;
  margin-top: 10px;
  text-align: center;
}
